extends layout

block content
  a(href='/') Home
  h1 Login

  if message
    p #{message}

  form(method='POST' class='formGroup')
    label(for='username') Username:
    input#username.form-control(type='text' name='username' required)

    label(for='password') Password:
    input#password.form-control(type='password' name='password' required)

    button(type='submit') Login