extends layout

block content
  a(href='/') Home
  h1 Sign up

  if errors
    ul 
      for error in errors
        li != #{err.msg}s


  form(method='POST' class='formGroup')
    label(for='username') Username:
    input#username.form-control(type='text' name='username' required)

    label(for='password') Password:
    input#password.form-control(type='password' name='password' required)

    label(for='confirmPassword') Confirm Password:
    input#confirmPassword.form-control(type='password' name='confirmPassword' required)

    button(type='submit') Sign Up