body {
  padding: 10px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
}

a {
  color: #00b7ff;
}

.formGroup {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navBtns {
  display: flex;
  gap: 10px;
}
